*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

div.row {
    margin: 0px;
    padding: 0px;
    border: none;
}

div.row div{
    width: 20px;
    height: 20px;
    display: inline-block;
}

div.brick {
    background-color: blue;
}

div.coin {
    background: url('coin.gif') no-repeat center;
}

div.pacman {
    background: url("pacman.gif") no-repeat center;
    background-size: cover;
    transform: rotate(180deg);
}

div.cherry {
    background: url("cherry.png") no-repeat center;
    background-size: 20px;
}

#score {
    color: white;
    font-family: helvetica;
}